# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
venv_linux/
.env
.venv
env.bak
venv.bak

# Testing
.pytest_cache/
.coverage
htmlcov/

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/
*.egg-info/
