venv
venv_linux
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
bin
lib
lib64
include
build
develop-eggs
dist
downloads
eggs
.eggs
parts
sdist
var
sdist
var
*.egg-info
.installed.cfg
*.egg
.pytest_cache
.coverage
htmlcov
.env
.dockerignore
Dockerfile
docker-compose*.yml
